*,
*::before,
*::after{
    box-sizing: border-box;

}
/*custom properties*/
:root{
    --ff-primary:'Source Sans Pro', sans-serif;
    --ff-secondary:'Source Code Pro', monospace;

    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark: #303030;
    --clr-accent: #40EFA9;
    
    --fs-h1:3rem;
    --fs-h2: 2.5rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;
    --bs:0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125rem 0.125rem 0.25em rgba(0,0,0,.15);
}
@media(min-width:800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.125rem;
    }
}
/*general styles*/
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin:0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

section{
    
    padding: 5em 2em;
}

img{
    display: block;
    max-width: 100%;
}
strong{
    font-weight: var(--fw-bold);
}
canvas{
    position: absolute;
    z-index: 1;
}
:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px ;
}
/*button*/
.btn{   
    display:inline-block;
    padding: 1em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    cursor: pointer;
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}
.btn:hover{
    transform:scale(1.1) ;
}
/*typography*/

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}
h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}

.section__title{
    margin-bottom: .25em;

}

.section__title--intro{
     font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}


.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--work{
    background:var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/*header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
 .logo{
     max-width: 100px;
     
 }

 .nav{
    position: fixed;
    background: transparent;
    color: var(--clr-light);
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translate(100%);
    transition: transform 250ms cubic-bezier(.5, 0, 0.5, 1);
}
.canvas1{
    background-color: var(--clr-dark);
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, 0.5, 1);
}
 @media(min-width:600px){
 .canvas1{
     position: fixed;
     background-color: var(--clr-dark);
     top:0;
     bottom:0;
     left: 80%;
     right: 0;
     z-index: 99;
     transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, 0.5, 1);
 }
 .nav{
     position: fixed;
     background: transparent;
     color: var(--clr-light);
     top:0;
     bottom:0;
     left: 80%;
     right: 0;
     z-index: 100;

     transform: translate(100%);
     transition: transform 250ms cubic-bezier(.5, 0, 0.5, 1);
 }
}

 .nav__list{
     list-style: none;
     display: flex;
     height: 100%;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     margin: 0;
     padding: 0; 
 }
 .nav__link{

     color:inherit;
     font-weight: var(--fw-bold);
     font-size: var(--fs-h3);
     text-decoration: none;

 }
 .nav__link:hover{
     color:var(--clr-accent);
 }
 .nav-toggle{
     padding: .5em;
     background: transparent;
     border:0;
     cursor: pointer;
     position: absolute;
     right: 1em;
     top:1em;
     z-index: 1000;

 }
.nav-open .nav {
    transform: translateX(0);
}
.nav-open .canvas1{
    transform: translateX(0);
}
.nav-open .nav-toggle{
    position: fixed;
}
.nav-open .hamburger{
    transform: rotate(.625turn);
}
.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after{
    opacity: 0;
}
 
 .hamburger{
     display: block;
     position: relative;
 }
 .hamburger,
 .hamburger::before,
 .hamburger::after{
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
 }
 .hamburger::before,
 .hamburger::after{
     content: '';
     position: absolute;
     left:0;
     right: 0;
     background: var(--clr-accent);
 }
 .hamburger::before{top:6px}
 .hamburger::after{bottom: 6px;}

 /*Intro Section*/
 .intro{
     position: relative;
 }
 .intro__img{
     box-shadow: var(--bs);
 }
 .section__subtitle--intro{
     display: inline-block;
     transform: skew(45deg);
 }
 .section__subtitle--intro span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100%);
    height: 100%;
    background-color: var(--clr-accent);
    border-left: 3px solid black;
    animation: blinking 1.5s infinite linear, typing 1.5s 1s steps(14) both ;
 }
 .section__subtitle--intro span{
    padding-right: 3px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    transform: skew(-45deg);
 }
 @keyframes typing{
     100%{left: calc(100% - 3px);}
 }
 @keyframes blinking{
     0%{border-color: transparent;}
     25%{border-color: transparent;}
     35%{border-color: var(--clr-dark);}
     75%{border-color: var(--clr-dark);}
     85%{border-color: var(--clr-dark);}
     100%{border-color: var(--clr-dark);}
 }


 @media(min-width:600px){
     .intro{
         display: grid;
         width: min-content;
         margin:0 auto;
         grid-column-gap: 1em;
         grid-template-areas: 
         "img title"
         "img subtitle";
         grid-template-columns: min-content max-content;
     }
     .intro__img{
         grid-area: img;
         min-width: 250px;
         position: relative;
         z-index: 2;
     }
     .section__subtitle--intro{
        align-self: start; 
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        

     }
 }
/*My skills*/
.my-skills{
    margin-top: 7em;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section__title--skills{
    color: var(--clr-accent);
    position: relative;
}
.section__title--skills::after{
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.skills {
    margin-bottom: 4em;
    opacity: 0;
    transition: opacity .5s .25s  ease-in-out;
}
.skills.is-visible{
    opacity: 1;
}
.skill{
    max-width: 500px;
    margin:0 auto;
}

@media(min-width:800px){
    .skills{
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;

    }
    .skill + .skill{
        margin-left: 2em;
    }
}

/*about me*/
.about-me{
    max-width: 1000px;
    margin: 0 auto;
    transform: translateX(-5%);
    opacity: 0;
    transition:  .5s .5s linear;
    
    text-align: center;
}
.about-me.is-visible{
    transform: translatex(0%);
    opacity: 1;
}
.about-me__img{
    box-shadow: var(--bs);
}
.section__subtitle--about{
    transform: skew(45deg);
}
.section__subtitle--about span{
    display: block;
    transform :skew(-45deg);
}

@media(min-width:600px){
    .about-me{
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
    }
    .section__title--about{
        grid-area: title;
    }
    .section__subtitle--about{
        grid-column: 1/-1;
        grid-row:2;
        position: relative;
        left: -1em;
        width: calc(100% + 6em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    .about-me__img{
        grid-area: img;
        max-width: 300px;
        position: relative;
        z-index: 2;
    }
}
/*my work*/
.my-work{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

}
.portfolio__item{
    overflow: hidden;
}
.portfolio__img{
    transition: transform 750ms cubic-bezier(.5,0,.5,1),
    opacity 250ms linear;
}
.portfolio__item:focus{
    position: relative;
    z-index: 2 ;
}
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img{
    transform: scale(1.2);
    opacity: .75;
 
}
/* footer */
.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}
.footer a{
    color: inherit;
    text-decoration: none;
}
.footer--link{
    font-weight: var(--fw-bold);
}

.footer--link:hover,
.social__list--link:hover{
    opacity: .7;

}
.footer--link:hover{
    text-decoration: underline;
}
.social-list{
    list-style: none;
    display:flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social__list--item{
    margin: 0 .5em;
}
.social__list--link{
    padding: .5em;
}
.work-detail{
    padding: 0;
}
.section__title--work-detail{
    padding-top: 1em;
}
/*Work Details Page*/

/*Work Details nav*/
.nav__link.btn:hover{
    color: var(--clr-light);
}
/*Work Details intro*/
.work-detail strong{
    color:var(--clr-accent)
}
/*Work details Description*/
.section__subtitle--work{
    display: inline-block;
    transform: skew(45deg);
}
.section__subtitle--work span{
    padding-right: 3px;
    display: inline-block;
    transform: skew(-45deg);
 }
.work-description {
    margin-top: 3em;
    background: var(--clr-dark);
    text-align: center;
    max-width: 100%;
    color: white;
}
.work-description-body{
    min-width: 100%;
    margin-bottom: 3em;
}
.spec{
    min-width: 100%;
    min-height: 100px;
    float: left;
    line-height: 3em;
    height: 100%;
    margin: 3em 0;
    margin-bottom: 3em;
}
.btn + .btn{
    margin-left: 3em;
}

.spec span{
    color:var(--clr-accent); 
    font-weight: var(--fw-bold);
}
@media(min-width:600px){
    .section__subtitle--work{
        align-self: start; 
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        

     }
}
@media(min-width:850px){
    .spec{
        margin: 3em;
        min-width: 30%; 
        min-height: 300px;
    }
    .work-description-body{
        text-align: right;
        min-width: 30%;
       min-height: 300px;
       margin: 3em;
    }
}
@media(min-width:970px){
    .work-description-body{
        text-align: center;
    }
}

